In [2]:
import pandas as pd
import numpy as np

Reading aggregate Uber and FHV data from 2014

In [3]:
uber_agg = pd.read_excel('data/aggregate_FHV_data.xlsx')

In [4]:
uber_agg.head()

,Date,American,Carmel,Dial 7,Diplo,Firstclass,Highclass,Prestige,Skyline,Lyft,Uber,Yellow Taxis,Green Taxis
0,2014-07-01,921,2871,2233,1046,1744,1368,3345,1668,0,21228,440655,38167
1,2014-07-02,1028,2965,2409,1275,2228,1661,3533,1691,0,26480,434416,42472
2,2014-07-03,1068,3361,2520,1200,2121,1599,3649,1157,0,21597,412980,46046
3,2014-07-04,1008,2174,1955,1171,1459,1622,3401,337,0,14148,306773,41535
4,2014-07-05,1214,1846,1371,1371,1703,1898,4081,276,0,10890,305653,46873

In [30]:
uber = uber_agg[['Date','Uber']]
lyft = uber_agg[['Date','Lyft']]
yellow = uber_agg[['Date','Yellow Taxis']]
green = uber_agg[['Date','Green Taxis']]

skyline = uber_agg[['Date','Skyline']]

for col in uber_agg.columns.values[1:]:
    tmp = uber_agg[['Date',col]]
    tmp.to_excel(('{}_agg_2015.xlsx'.format(col.split(' ')[0])))