In [6]:
import pandas as pd
import numpy as np
import math

In [7]:
uber_apr14 = pd.read_csv('data/uber/uber-raw-data-apr14.csv')
uber_may14 = pd.read_csv('data/uber/uber-raw-data-may14.csv')
uber_jun14 = pd.read_csv('data/uber/uber-raw-data-jun14.csv')
uber_jul14 = pd.read_csv('data/uber/uber-raw-data-jul14.csv')
uber_aug14 = pd.read_csv('data/uber/uber-raw-data-aug14.csv')
uber_sep14 = pd.read_csv('data/uber/uber-raw-data-sep14.csv')
uber_14 = pd.concat([uber_apr14, uber_may14, uber_jun14, uber_jul14, uber_aug14, uber_sep14])

In [8]:
uber_14.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [9]:
def zeller(y, m, q):
    if m <= 2:
        m = 12 + m
        y = y - 1
    K = y % 100
    J = y // 100
    return (q + math.floor((13 * (m + 1))/5) + K + math.floor(K/4) + math.floor(J/4) - 2 * J) % 7

def getDayofWeek(dateString):
    date = dateString.split(" ")[0]
    dateParse = date.split("/")
    m = int(dateParse[0])
    q = int(dateParse[1])
    y = int(dateParse[2])
    daysOfWeek = ["Sat", "Sun", "Mon", "Tue", "Wed", "Thu", "Fri"]
    z = zeller(y, m, q)
    return daysOfWeek[z]

In [10]:
uber_14["day_of_week"] = uber_14["Date/Time"].apply(lambda x: getDayofWeek(x))
uber_14.head()

          Date/Time      Lat      Lon    Base day_of_week
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512         Tue
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512         Tue
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512         Tue
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512         Tue
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512         Tue

In [11]:
def getHour(date):
    time = date.split(" ")[1]
    hour = time.split(":")[0]
    return int(hour)

In [12]:
uber_14["hour_of_day"] = uber_14["Date/Time"].apply(lambda x: getHour(x))
uber_14.head()

          Date/Time      Lat      Lon    Base day_of_week  hour_of_day
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512         Tue            0
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512         Tue            0
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512         Tue            0
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512         Tue            0
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512         Tue            0

In [14]:
uber_14 = uber_14.drop('Date/Time', 1)
uber_14 = uber_14.drop('Lat', 1)
uber_14 = uber_14.drop('Lon', 1)
uber_14 = uber_14.drop('Base', 1)
uber_14.head()

  day_of_week  hour_of_day
0         Tue            0
1         Tue            0
2         Tue            0
3         Tue            0
4         Tue            0

In [22]:
by_day_by_hour = uber_14.groupby(["day_of_week", "hour_of_day"]).size()
by_day_by_hour.head()

day_of_week  hour_of_day
Fri          0              13716
             1               8163
             2               5350
             3               6930
             4               8806
dtype: int64

In [27]:
by_hour_by_day = uber_14.groupby(["hour_of_day", "day_of_week"]).size()
by_hour_by_day.head()

hour_of_day  day_of_week
0            Fri            13716
             Mon             6436
             Sat            27633
             Sun            32877
             Thu             9293
dtype: int64

In [28]:
by_day_by_hour.to_json("by_day_by_hour.json", orient="split")

In [34]:
by_hour_by_day.to_json("by_hour_by_day.json", orient="split")