Characteristics for question 1:
income, population, density, average housing price

In [1]:
import pandas as pd
import numpy as np

In [4]:
uber_apr14 = pd.read_csv('data/uber/uber-raw-data-apr14.csv')
uber_may14 = pd.read_csv('data/uber/uber-raw-data-may14.csv')
uber_jun14 = pd.read_csv('data/uber/uber-raw-data-jun14.csv')
uber_jul14 = pd.read_csv('data/uber/uber-raw-data-jul14.csv')
uber_aug14 = pd.read_csv('data/uber/uber-raw-data-aug14.csv')
uber_sep14 = pd.read_csv('data/uber/uber-raw-data-sep14.csv')

In [5]:
uber_apr14.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [6]:
uber_14 = pd.concat([uber_apr14, uber_may14, uber_jun14, uber_jul14, uber_aug14, uber_sep14])

In [7]:
len(uber_14)

4534327

In [8]:
uber_14.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [9]:
uber_loc = uber_14[["Lat", "Lon"]]
writer = pd.ExcelWriter("uber_loc.xlsx")
uber_loc.to_excel(writer, index=False)
writer.save()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "c:\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2881, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-8-2653a6c6cbda>", line 4, in <module>
    writer.save()
  File "c:\Miniconda3\lib\site-packages\pandas\io\excel.py", line 790, in save
    return self.book.save(self.path)
  File "c:\Miniconda3\lib\site-packages\openpyxl\workbook\workbook.py", line 342, in save
    save_workbook(self, filename)
  File "c:\Miniconda3\lib\site-packages\openpyxl\writer\excel.py", line 268, in save_workbook
    writer.save(filename)
  File "c:\Miniconda3\lib\site-packages\openpyxl\writer\excel.py", line 250, in save
    self.write_data()
  File "c:\Miniconda3\lib\site-packages\openpyxl\writer\excel.py", line 81, in write_data
    self._write_worksheets()
  File "c:\Miniconda3\lib\site-packages\openpyxl\writer\excel.py", line 199, in _write_worksheets
    xml = ws._write()
  File "c:\Miniconda3\lib\site-packages\openpyxl\worksheet\worksheet.py", line 870, in _write
    return write_worksheet(self)
  File "c:\Miniconda3\lib\site-packages\openpyxl\writer\worksheet.py", line 107, in write_worksheet
    write_rows(xf, ws)
  File "c:\Miniconda3\lib\site-packages\openpyxl\writer\etree_worksheet.py", line 30, in write_rows
    all_rows = get_rows_to_write(worksheet)
  File "c:\Miniconda3\lib\site-packages\openpyxl\writer\etree_worksheet.py", line 17, in get_rows_to_write
    rows.setdefault(row, []).append((col, cell))
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 1821, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Miniconda3\lib\site-packages\IPython\core\ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "c:\Miniconda3\lib\site-packages\IPython\core\ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "c:\Miniconda3\lib\site-packages\IPython\core\ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "c:\Miniconda3\lib\inspect.py", line 1453, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "c:\Miniconda3\lib\inspect.py", line 1410, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "c:\Miniconda3\lib\inspect.py", line 672, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "c:\Miniconda3\lib\inspect.py", line 715, in getmodule
    f = getabsfile(module)
  File "c:\Miniconda3\lib\inspect.py", line 684, in getabsfile
    _filename = getsourcefile(object) or getfile(object)
  File "c:\Miniconda3\lib\inspect.py", line 669, in getsourcefile
    if os.path.exists(filename):
  File "c:\Miniconda3\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

KeyboardInterrupt:

In [10]:
uber_loc_time = uber_14[["Date/Time", "Lat", "Lon"]]
writer = pd.ExcelWriter("uber_loc_time.xlsx")
uber_loc.to_excel(writer, index=False)
writer.save()