Characteristics for question 1:
income, population, density, average housing price

In [2]:
import pandas as pd
import numpy as np

In [2]:
uber_apr14 = pd.read_csv('data/uber/uber-raw-data-apr14.csv')
uber_may14 = pd.read_csv('data/uber/uber-raw-data-may14.csv')
uber_jun14 = pd.read_csv('data/uber/uber-raw-data-jun14.csv')
uber_jul14 = pd.read_csv('data/uber/uber-raw-data-jul14.csv')
uber_aug14 = pd.read_csv('data/uber/uber-raw-data-aug14.csv')
uber_sep14 = pd.read_csv('data/uber/uber-raw-data-sep14.csv')

In [3]:
uber_apr14.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [4]:
uber_14 = pd.concat([uber_apr14, uber_may14, uber_jun14, uber_jul14, uber_aug14, uber_sep14])

In [5]:
len(uber_14)

4534327

In [6]:
uber_14.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [8]:
uber_loc = uber_14[["Lat", "Lon"]]
uber_loc.to_json("uber_loc.json",orient='values')

In [7]:
writer = pd.ExcelWriter("uber_loc.xlsx")
uber_loc.to_excel(writer, index=False)
writer.save()

In [10]:
uber_loc_time = uber_14[["Date/Time", "Lat", "Lon"]]
writer = pd.ExcelWriter("uber_loc_time.xlsx")
uber_loc.to_excel(writer, index=False)
writer.save()

In [30]:
uber_janjun15 = pd.read_csv('data/uber/uber-raw-data-janjune-15.csv')
lookup = pd.read_csv('data/taxi-zone-lookup.csv')

In [31]:
lookup.rename(columns={'LocationID': 'locationID'}, inplace=True)
#uber_janjun15.head()
#lookup.head()
uber_janjun15 = uber_janjun15.merge(lookup,on='locationID')

In [33]:
uber_janjun15 = uber_janjun15[['Pickup_date','Borough','Zone']]
uber_janjun15 = uber_janjun15[uber_janjun15['Borough'] == 'Manhattan']

In [42]:
uber_agg = uber_janjun15['Zone'].value_counts()
uber_agg = uber_agg.to_frame()
uber_agg.to_excel('uber2015_agg.xlsx')