Rides by:
  - month
  - time of day
  - day of week
  - general trend by days of month

In [41]:
import pandas as pd
import numpy as np
import math

In [16]:
uber_apr14 = pd.read_csv('data/uber/uber-raw-data-apr14.csv')
uber_may14 = pd.read_csv('data/uber/uber-raw-data-may14.csv')
uber_jun14 = pd.read_csv('data/uber/uber-raw-data-jun14.csv')
uber_jul14 = pd.read_csv('data/uber/uber-raw-data-jul14.csv')
uber_aug14 = pd.read_csv('data/uber/uber-raw-data-aug14.csv')
uber_sep14 = pd.read_csv('data/uber/uber-raw-data-sep14.csv')
uber_14 = pd.concat([uber_apr14, uber_may14, uber_jun14, uber_jul14, uber_aug14, uber_sep14])

### Group by month for april

In [17]:
uber_14.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [18]:
uber_apr14["month"] = uber_apr14["Date/Time"].apply(lambda x: x[0:1])
uber_apr14["day"] = uber_apr14["Date/Time"].apply(lambda x: x.split("/")[1])
uber_apr14.head()

          Date/Time      Lat      Lon    Base month day
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512     4   1
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512     4   1
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512     4   1
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512     4   1
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512     4   1

In [33]:
uber_apr14["month"].value_counts().head()

4    564516
Name: month, dtype: int64

In [34]:
uber_apr14["day"].value_counts().head()

30    36251
4     26714
25    25095
26    24925
24    23352
Name: day, dtype: int64

## 2014 april-sept group by month, day of month, day of year

In [66]:
uber_14["month"] = uber_14["Date/Time"].apply(lambda x: int(x[0:1]))
uber_14["day_of_month"] = uber_14["Date/Time"].apply(lambda x: int(x.split("/")[1]))
uber_14["day_of_year"] = uber_14["Date/Time"].apply(lambda x: x.split(" ")[0])
uber_14.head()

,Date/Time,Lat,Lon,Base,month,day,day_of_month,day_of_year,day_of_week
0,4/1/2014 0:11:00,40.7690,-73.9549,B02512,4,1,1,4/1/2014,Tue
1,4/1/2014 0:17:00,40.7267,-74.0345,B02512,4,1,1,4/1/2014,Tue
2,4/1/2014 0:21:00,40.7316,-73.9873,B02512,4,1,1,4/1/2014,Tue
3,4/1/2014 0:28:00,40.7588,-73.9776,B02512,4,1,1,4/1/2014,Tue
4,4/1/2014 0:33:00,40.7594,-73.9722,B02512,4,1,1,4/1/2014,Tue

In [67]:
uber_14["month"].value_counts()

9    1028136
8     829275
7     796121
6     663844
5     652435
4     564516
Name: month, dtype: int64

In [68]:
uber_14["day_of_month"].value_counts().head()

30    167160
12    160606
16    158921
13    156892
23    156032
Name: day_of_month, dtype: int64

In [69]:
uber_14["day_of_year"].value_counts().head()

9/13/2014    43205
9/5/2014     42319
9/19/2014    41017
9/6/2014     40520
9/18/2014    40274
Name: day_of_year, dtype: int64

#### Day of week

In [70]:
def zeller(y, m, q):
    if m <= 2:
        m = 12 + m
        y = y - 1
    K = y % 100
    J = y // 100
    return (q + math.floor((13 * (m + 1))/5) + K + math.floor(K/4) + math.floor(J/4) - 2 * J) % 7

def getDayofWeek(dateString):
    date = dateString.split(" ")[0]
    dateParse = date.split("/")
    m = int(dateParse[0])
    q = int(dateParse[1])
    y = int(dateParse[2])
    daysOfWeek = ["Sat", "Sun", "Mon", "Tue", "Wed", "Thu", "Fri"]
    z = zeller(y, m, q)
    return daysOfWeek[z]

In [71]:
uber_14["day_of_week"] = uber_14["Date/Time"].apply(lambda x: getDayofWeek(x))
uber_14.head()

,Date/Time,Lat,Lon,Base,month,day,day_of_month,day_of_year,day_of_week
0,4/1/2014 0:11:00,40.7690,-73.9549,B02512,4,1,1,4/1/2014,Tue
1,4/1/2014 0:17:00,40.7267,-74.0345,B02512,4,1,1,4/1/2014,Tue
2,4/1/2014 0:21:00,40.7316,-73.9873,B02512,4,1,1,4/1/2014,Tue
3,4/1/2014 0:28:00,40.7588,-73.9776,B02512,4,1,1,4/1/2014,Tue
4,4/1/2014 0:33:00,40.7594,-73.9722,B02512,4,1,1,4/1/2014,Tue

In [72]:
uber_14["day_of_week"].value_counts()

Thu    755145
Fri    741139
Wed    696488
Tue    663789
Sat    646114
Mon    541472
Sun    490180
Name: day_of_week, dtype: int64

### Convert to Excel

In [73]:
writer = pd.ExcelWriter("uber_time.xlsx")

In [74]:
day_of_month = uber_14["day_of_month"].value_counts().sort_index().to_frame()
day_of_month.head()

   day_of_month
1        127430
2        143201
3        142983
4        140923
5        147054

In [75]:
day_of_month.to_excel(writer, index=True, sheet_name="Day of Month")

In [ ]:
day_of_year = uber_14["day_of_year"].value_counts().sort_index().to_frame()
day_of_year.head()

In [ ]:
day_of_month.to_excel(writer, index=True, sheet_name="Day of Month")

In [76]:
writer.save()